#clock{
    font-family: sans-serif;
    font-size: 60px;
    text-shadow: 0px 0px 1px #333;
    color: #fff;
}
#clock .clock-container{
    background-color: #0c77ce;
    padding: 25px;
    max-width: 350px;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 10%;
}

.clock-container #date{
    letter-spacing: 10px;
    font-size: 15px;
}

.animate{
    border: rgb(0, 0, 0) 4px solid;
}